Please follow the below steps one by one: </br>
a) Remove the brackets as well as numbers inside the brackets in both the sheets preferably using python.</br>
b) Take the sheets to tableau</br>
c) Join the two tables using inner join on WHO region column.</br>
d) Start building the dashboard.</br>

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
#Reading the data
first_file = pd.read_excel('/content/drive/MyDrive/Study/Self Study/MKR Data Analysis/2. Internship First Task - HIV/HIV_0000000006.xlsx')
second_file = pd.read_excel('/content/drive/MyDrive/Study/Self Study/MKR Data Analysis/2. Internship First Task - HIV/HIV_0000000026,SDGHIV (1).xlsx')
third_file = pd.read_excel('/content/drive/MyDrive/Study/Self Study/MKR Data Analysis/2. Internship First Task - HIV/HIV_0000000001 (2).xlsx')

### First_File

In [ ]:
first_file.head()

  WHO region       Year  Number of deaths due to HIV/AIDS
0     Global 2019-01-01                          690000.0
1     Global 2018-01-01                          730000.0
2     Global 2017-01-01                          760000.0
3     Global 2016-01-01                          800000.0
4     Global 2015-01-01                          830000.0

In [ ]:
first_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   WHO region                        210 non-null    object
 1   Year                              210 non-null    datetime64[ns]
 2   Number of deaths due to HIV/AIDS  210 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.0+ KB

In [ ]:
print("Type of 'Number of deaths due to HIV/AIDS' : ", type(first_file['Number of deaths due to HIV/AIDS'][0]))
# print("Type of 'year' : ", type(first_file['Year'][0]))
#Here we can se tha datatype of "Type of 'Number of deaths due to HIV/AIDS" column are string
#So first we need to remove values within brackets and then convert into integer, 
#so that we can use these numeric values effeciently

#Also we can convert datatype of year to year object to use it more efficiently

Type of 'Number of deaths due to HIV/AIDS' :  <class 'str'>
Type of 'year' :  <class 'numpy.int64'>

In [ ]:
def remove_brackets_value(value):
    # https://stackoverflow.com/questions/640001/how-can-i-remove-text-within-parentheses-with-a-regex  --- Reference for below line
    value = re.sub(r'\[[^]]*\]', '', value)
    value = re.sub(r'\s', "", value)
    value = re.sub(r'[^0-9.]+',"", value)
    return float(value)

In [ ]:
#Let Remove Values within Brackets
first_file['Number of deaths due to HIV/AIDS'] = first_file['Number of deaths due to HIV/AIDS'].apply(remove_brackets_value)

#Now converting Year into datetime object
# first_file['Year'] = pd.to_datetime(first_file['Year'], format= '%Y')

In [ ]:
first_file.head()

  WHO region       Year  Number of deaths due to HIV/AIDS
0     Global 2019-01-01                          690000.0
1     Global 2018-01-01                          730000.0
2     Global 2017-01-01                          760000.0
3     Global 2016-01-01                          800000.0
4     Global 2015-01-01                          830000.0

In [ ]:
first_file.to_csv("first_file_HIV_cleaned.csv", index = False)

### Second_File

In [ ]:
second_file.head()

   Unnamed: 0  ... New HIV infections (per 1000 uninfected population).2
0  WHO region  ...                                             Female
1      Global  ...                                   0.21 [0.16-0.29]
2      Global  ...                                    0.22 [0.16-0.3]
3      Global  ...                                   0.23 [0.17-0.32]
4      Global  ...                                   0.24 [0.18-0.33]

[5 rows x 6 columns]

In [ ]:
second_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 1 to 210
Data columns (total 6 columns):
 #   Column                                                 Non-Null Count  Dtype
---  ------                                                 --------------  -----
 0   Unnamed: 0                                             210 non-null    object
 1   Unnamed: 1                                             210 non-null    object
 2   Number of new HIV infections                           210 non-null    object
 3   New HIV infections (per 1000 uninfected population)    210 non-null    object
 4   New HIV infections (per 1000 uninfected population).1  210 non-null    object
 5   New HIV infections (per 1000 uninfected population).2  210 non-null    object
dtypes: object(6)
memory usage: 10.0+ KB

In [ ]:
#Let's Checkout the Null values
second_file.isnull().sum()
# There are no null values in any column

Unnamed: 0                                               0
Unnamed: 1                                               0
Number of new HIV infections                             0
New HIV infections (per 1000 uninfected population)      0
New HIV infections (per 1000 uninfected population).1    0
New HIV infections (per 1000 uninfected population).2    0
dtype: int64

In [ ]:
#Removing The First Row
second_file = second_file[1:]

#Renaming the First and Second Column name as well
#New_Case_Per_1000_Male_Female - (New HIV infections (per 1000 uninfected population) - Both Sex)
#New_Case_Per_1000_Male -        (New HIV infections (per 1000 uninfected population) - Male)
#New_Case_Per_1000_Female -        (New HIV infections (per 1000 uninfected population) - Female)

second_file.rename(columns= {'Unnamed: 0' : 'WHO Region', 'Unnamed: 1':'Year',
                             'Number of new HIV infections' : 'New_Cases',
                             'New HIV infections (per 1000 uninfected population)' : 'New_Case_Per_1000_Male_Female',
                             'New HIV infections (per 1000 uninfected population).1' : 'New_Case_Per_1000_Male',
                             'New HIV infections (per 1000 uninfected population).2' : 'New_Case_Per_1000_Female' 
                            }, inplace = True)

In [ ]:
#Now converting Year into datetime object
# second_file['Year'] = pd.to_datetime(second_file['Year'], format= '%Y') 

#Remvoing Values withing brackets and unwanted characters
second_file['New_Cases'] =  second_file['New_Cases'].apply(remove_brackets_value)
second_file['New_Case_Per_1000_Male_Female'] =  second_file['New_Case_Per_1000_Male_Female'].apply(remove_brackets_value)
second_file['New_Case_Per_1000_Male'] =  second_file['New_Case_Per_1000_Male'].apply(remove_brackets_value)
second_file['New_Case_Per_1000_Female'] =  second_file['New_Case_Per_1000_Female'].apply(remove_brackets_value)

In [ ]:
second_file.head()

  WHO Region       Year  ...  New_Case_Per_1000_Male  New_Case_Per_1000_Female
1     Global 2019-01-01  ...                    0.23                      0.21
2     Global 2018-01-01  ...                    0.24                      0.22
3     Global 2017-01-01  ...                    0.24                      0.23
4     Global 2016-01-01  ...                    0.25                      0.24
5     Global 2015-01-01  ...                    0.26                      0.26

[5 rows x 6 columns]

In [ ]:
second_file.to_csv("second_file_HIV_cleaned.csv", index = False)

### Third_File

In [ ]:
third_file.head()

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019       38 000 000
1  Global  2018        37 300 000
2  Global  2017        36 500 000
3  Global  2016        35 700 000
4  Global  2015       34 900 000

In [ ]:
#Here also we need to convert 'PEOPLE HAVING HIV' into integer after removal of space
third_file['PEOPLE HAVING HIV'] = third_file['PEOPLE HAVING HIV'].apply(lambda x : float(x.replace(' ', '')))

#Now converting Year into datetime object
# third_file['YEAR'] = pd.to_datetime(third_file['YEAR'], format= '%Y')

In [ ]:
third_file.to_csv('third_file_HIV_cleaned.csv', index = False)